.signup-box {
  display: flex;
  height: 38em;
  width: 55em;
  /* padding: 0.5em; */
  background-color: white;
  margin-top: 8rem;
  border-radius: 35px;
}

.left-sided-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* border: 1px red solid; */
  width: 50%;
  height: 100%;
  padding: 1em 2em -1em 1em;
}

.left-sided-header {
  font-family: RobotoBold;
  margin-top: 4rem;
  margin-right: 2em;
  font-size: 24px;
  color: hsl(237.39deg 17.29% 26.08%);

  /* border: 1px red solid; */
}

.left-sided-paragraph {
  margin-left: 4em;
  font-family: RobotoRegular;
  word-break: none;
  width: 90%;
  margin-top: -1.8rem;
  color: hsl(237.39deg 17.29% 26.08%);
}

.bullet-section {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  /* border: 1px red solid; */
  padding: 0.5em;
  font-family: RobotoRegular;
}

.bullet-points {
  display: flex;
  /* border: 1px red solid; */
  margin-bottom: -1em;
  color: hsl(237.39deg 17.29% 26.08%);
}
.right-sided-content {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px red solid; */
  width: 50%;
  height: 100%;
}

.textRegular {
  font-family: RobotoRegular;
  color: hsl(237.39deg 17.29% 26.08%);
}

.icon-style {
  height: 1.3em;
  /* border: 1px black solid; */
  margin-top: 0.7em;
  margin-right: 0.8em;
}

.interactive-content {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  width: 100%;
  height: 100%;
  margin-left: 2.2em;
  color: hsl(237.39deg 17.29% 26.08%);
  /* border: 1px red solid; */
}

.interactive-content p {
  font-family: RobotoBold;
  color: hsl(237.39deg 17.29% 26.08%);
  font-size: 12px;
  padding: 0 1em 0 3em;
  margin-bottom: 0.8em;
}

.input-container {
  display: flex;
  /* border: 1px red solid; */
  height: 4em;
  width: 90%;
}

.input-styles {
  margin-left: 2.6em;
  height: 70%;
  width: 100%;
  border-radius: 6px;
  border: 1px solid lightgray;
  padding: 0 0 0 1em;
  font-family: RobotoRegular;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.signup-button-container {
  display: flex;
  /* border: 1px red solid; */
  height: 4em;
  width: 90%;
}

.signup-button-styles {
  margin-left: 2.6em;
  height: 70%;
  width: 100%;
  border-radius: 6px;
  border: none;
  background-color: hsl(237.39deg 17.29% 26.08%);
  font-family: RobotoBold;
  color: white;
}

.signup-button-styles:hover {
  margin-left: 2.6em;
  height: 70%;
  width: 100%;
  border-radius: 6px;
  border: none;
  background-color: hsl(358.52deg 98.78% 67.84%);
  box-shadow: 0px 10px 15px 2px rgba(255, 0, 0, 0.2);
  font-family: RobotoBold;
  color: white;
  cursor: pointer;
}

.signup-button-styles:focus {
  margin-left: 2.6em;
  height: 70%;
  width: 100%;
  border-radius: 6px;
  border: none;
  background-color: hsl(358.52deg 98.78% 67.84%);
  box-shadow: 0px 10px 15px 2px rgba(255, 0, 0, 0.2);
  font-family: RobotoBold;
  color: white;
  cursor: pointer;
}

.img-styles {
  background-size: cover;
}

.img-container img {
  margin-left: 2.5em;
  margin-top: 0.1em;
  /* border: 1px solid black; */
  width: 87%;
  border-radius: 18px;
}

/* Mobile Design <------------------------------------------> */

@media (max-width: 750px) {
  .signup-box {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    height: auto;
    width: 30em;
    background-color: white;
    margin-top: 0.1em;
    border-radius: 18px;
  }

  .left-sided-content {
    width: auto;
    padding: 1em;
    align-items: center;
  }

  .left-sided-header {
    font-family: RobotoBold;
    margin-top: 1em;
    font-size: 20px;
    color: hsl(237.39deg 17.29% 26.08%);
  }
  .left-sided-header h1 {
    justify-content: center;
    font-family: RobotoBold;
    margin-top: 0.1em;
    margin-right: 0.5em;
    font-size: 40px;
    color: hsl(237.39deg 17.29% 26.08%);
    /* border: 1px red solid; */
  }

  .left-sided-paragraph {
    margin-left: 0.1em;
    font-family: RobotoRegular;
    word-break: none;
    width: 90%;
    margin-top: -1.8rem;
    color: hsl(237.39deg 17.29% 26.08%);
  }

  .signup-button-styles {
    margin-left: 2.6em;
    height: 70%;
    width: 100%;
    border-radius: 6px;
    border: none;
    background-color: hsl(237.39deg 17.29% 26.08%);
    font-family: RobotoBold;
    color: white;
  }

  .signup-button-styles:hover {
    margin-left: 2.6em;
    height: 70%;
    width: 100%;
    border-radius: 6px;
    border: none;
    background-color: hsl(358.52deg 98.78% 67.84%);
    box-shadow: 0px 10px 15px 2px rgba(255, 0, 0, 0.2);
    font-family: RobotoBold;
    color: white;
    cursor: pointer;
  }

  .signup-button-styles:focus {
    margin-left: 2.6em;
    height: 70%;
    width: 100%;
    border-radius: 6px;
    border: none;
    background-color: hsl(358.52deg 98.78% 67.84%);
    box-shadow: 0px 10px 15px 2px rgba(255, 0, 0, 0.2);
    font-family: RobotoBold;
    color: white;
    cursor: pointer;
  }

  .right-sided-content {
    width: stretch;
  }

  .img-container {
    margin: 0em;
    width: inherit;
    height: auto;
    border-radius: 18px;
  }

  .img-container img {
    margin: 0em;
    width: stretch;
  }

  .interactive-content {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    width: 100%;
    height: 100%;
    margin-left: 0em;
    color: hsl(237.39deg 17.29% 26.08%);
    /* border: 1px red solid; */
  }
}
