.success-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12em;
  width: 25em;
  height: 25em;
  border-radius: 18px;
  /* margin: 2.5em; */
}

.success-panel {
  background-color: white;
  height: 80%;
  width: 80%;
  padding: 2.5em;
  /* margin: 1em; */
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.logo-container {
  /* border: 1px solid black; */
  width: 100%;
}

.logo-container img {
  height: 3em;
}

.header-content {
  font-family: RobotoBold;
  color: hsl(237.39deg 17.29% 26.08%);
  font-size: 22px;
  margin-left: 0.2em;
  margin-bottom: -1.5em;
  line-height: 2em;
}

.description-content {
  /* border: 1px solid gold; */
  margin-left: 0.5em;
  font-family: RobotoRegular;
  color: hsl(237.39deg 17.29% 26.08%);
  font-size: 14px;
}

.description-content strong {
  /* border: 1px solid gold; */
  font-family: RobotoBold;
  color: hsl(237.39deg 17.29% 26.08%);
}

.description-content p {
  /* border: 1px solid gold; */
  font-family: RobotoRegular;
  color: hsl(237.39deg 17.29% 26.08%);
  font-size: 14px;
  line-height: 1.5em;
}

.success-interactive-content {
  margin-top: 1em;
  display: flex;
  /* border: 1px red solid; */
  width: 100%;
  height: 2.5em;
}

.success-button-styles {
  width: inherit;
  height: inherit;
  border-radius: 6px;
  border: none;
  background-color: hsl(237.39deg 17.29% 26.08%);
  font-family: RobotoBold;
  color: white;
}

.success-button-styles:hover {
  width: inherit;
  height: inherit;
  border-radius: 6px;
  border: none;
  background-color: hsl(358.52deg 98.78% 67.84%);
  box-shadow: 0px 10px 15px 2px rgba(255, 0, 0, 0.2);
  font-family: RobotoBold;
  color: white;
  cursor: pointer;
}

.success-button-styles:focus {
  width: inherit;
  height: inherit;
  border-radius: 6px;
  border: none;
  background-color: hsl(358.52deg 98.78% 67.84%);
  box-shadow: 0px 10px 15px 2px rgba(255, 0, 0, 0.2);
  font-family: RobotoBold;
  color: white;
  cursor: pointer;
}

@media (max-width: 800px) {
  .success-panel {
    background-color: white;
    height: 48em;
    width: 20em;
    padding: 1em;
    /* margin: 1em; */
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
  .header-content {
    text-align: left;
  }
  .success-interactive-content {
    margin-top: 25em;
    display: flex;
    width: 100%;
    height: 2.5em;
  }
  .description-content strong {
    font-family: RobotoBold;
  }
}
